<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <h1>This page is under construction.</h1>
    <%- include('../partials/footer') %>
</body>
</html> 
